interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.quickpac.ch/ZIP/IsDeliverableZipCode?zipCode=50200
  response:
    body:
      string: "{\"ZipCode\":50200,\"Deliverable\":false,\"Errors\":[{\"Code\":\"E2000\"\
        ,\"Message\":\"Die Postleitzahl (PLZ) muss gr\xF6\xDFer 1,000 und kleiner\
        \ als 10,000 sein.\"}],\"Warnings\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
