interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://panel.sendcloud.sc/api/v2/brands
    response:
      body:
        {
          string: '{"next":null,"previous":null,"brands":[{"id":93524,"name":"Onestein","color":"#112857","secondary_color":"#112855","website":"","overlay_logo":{},"screen_logo":{"url":"https://media.sendcloud.sc/brands/85609/onestein_logo.png"},"print_logo":{"url":"https://media.sendcloud.sc/brands/85609/onestein_logo_XAgCJw8.png"},"overlay_thumb":null,"screen_thumb":"https://media.sendcloud.sc/brands/85609/c1e21c7d2cb765eec349e3086ebd3d0a_thumbnail.png","print_thumb":"https://media.sendcloud.sc/brands/85609/c558a0208262c12fbffc2fe138c49bd1_thumbnail.png","notify_reply_to_email":null,"domain":"andrea1","notify_bcc_email":null,"hide_powered_by":false,"customization_settings":{"footer":{"city":"","street":"","country":"","font_color":"#212121","postal_code":"","phone_number":"","social_media":{"twitter":"","facebook":"","linkedin":"","instagram":""},"support_email":"","background_color":"#ffffff"},"header":{"faq_url":"","shop_url":"","font_color":"#212121","contact_url":"","homepage_url":"","background_color":"#ffffff"}}}]}',
        }
      headers:
        Content-Type: [application/json]
        allow: ["GET, HEAD, OPTIONS"]
        x-sendcloud-client-latest-version-linux: [1.0.2]
        x-sendcloud-client-latest-version-macos: [1.0.5]
        x-sendcloud-client-latest-version-windows: [1.0.4]
      status: {code: 200, message: OK}
version: 1
