interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://panel.sendcloud.sc/api/v2/user/invoices/718097
    response:
      body:
        {
          string:
            '{"invoice":{"id":718097,"ref":"577543","type":"periodic","price_incl":0.0,"price_excl":0.0,"isPayed":true,"date":"29-06-2020
            02:06:29","items":"https://panel.sendcloud.sc/api/v2/user/invoices/718097"}}',
        }
      headers:
        Allow: ["GET, HEAD, OPTIONS"]
        Content-Type: [application/json]
        X-SendCloud-Client-Latest-Version-Linux: [1.0.2]
        X-SendCloud-Client-Latest-Version-Windows: [1.0.4]
        X-SendCloud-Client-Latest-Version-macOS: [1.0.5]
      status: {code: 200, message: OK}
version: 1
