interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://panel.sendcloud.sc/api/v2/user/invoices
    response:
      body:
        {
          string:
            '{"invoices":[{"id":718097,"ref":"577543","type":"periodic","price_incl":0.0,"price_excl":0.0,"isPayed":true,"date":"29-06-2020
            02:06:29","items":"https://panel.sendcloud.sc/api/v2/user/invoices/718097"},{"id":731972,"ref":"587399","type":"periodic","price_incl":19.9,"price_excl":16.45,"isPayed":true,"date":"13-07-2020
            16:29:33","items":"https://panel.sendcloud.sc/api/v2/user/invoices/731972"},{"id":817085,"ref":"650652","type":"periodic","price_incl":-6.11,"price_excl":-5.05,"isPayed":true,"date":"19-10-2020
            02:07:55","items":"https://panel.sendcloud.sc/api/v2/user/invoices/817085"},{"id":790779,"ref":"631253","ty[...]
