interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://panel.sendcloud.sc/api/v2/parcels/statuses
    response:
      body:
        {
          string:
            '[{"id":6,"message":"Not sorted"},{"id":15,"message":"Error
            collecting"},{"id":62989,"message":"At
            Customs"},{"id":62993,"message":"Delivery method
            changed"},{"id":62990,"message":"At sorting
            centre"},{"id":1002,"message":"Announcement
            failed"},{"id":62991,"message":"Refused by
            recipient"},{"id":62992,"message":"Returned to
            sender"},{"id":62995,"message":"Delivery address
            changed"},{"id":1999,"message":"Cancellation
    [...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://panel.sendcloud.sc/api/v2/parcels
    response:
      body:
        {
          string:
            '{"next":"https://panel.sendcloud.sc/api/v2/parcels?cursor=cD0xMjA0MTg1NjU%3D","previous":null,"parcels":[{"id":182588401,"address":"Reduitlaan
            45","address_2":"","address_divided":{"street":"Reduitlaan","house_number":"45"},"city":"Breda","company_name":"Onestein
            BV","country":{"iso_2":"NL","iso_3":"NLD","name":"Netherlands"},"data":{},"date_created":"19-05-2022
            13:20:11","date_announced":"19-05-2022 13:20:12","date_updated":"19-05-2022
            14:32:40","email":"b.colpaert@onestein.nl","name":"Bastian
            Colpaert","postal_code":"4814
            DC","reference":"0","shipment":{"id":1602,"name":"DHLForYou Drop
            Off"},"status":{"id":1,"message":"Announced"},"to_service_point":null,"telephone":"+31886270400","tracking_number":"JVGL06097547001969761800","weight":"5.000","label":{"normal_printer":["https://panel.sendcloud.sc/api/v2/labels/normal_printer/182588401?start_from=0","https://panel.sendcloud.sc/api/v2/labels/normal_printer/182588401?start_from=1","https://panel.sendcloud.sc/api/v2/labels/normal_printer/182588401?start_from=2","https://panel.sendcloud.sc/api/v2/labels/normal_printer/182588401?start_from=3"]},"customs_declaration":{},"order_number":"","insured_value":0,"total_insured_value":0,"to_state":null,"customs_invoice_nr":"","customs_shipment_type":null,"parcel_items":[{"description":"Test
            product","quantity":1,"weight":"0.001","value":"0.00","hs_code":"","origin_country":null,"product_id":"","properties":{},"sku":"","return_reason":null,"return_message":"Not
            good"}],"documents":[{"type":"label","size":"a6"}],"type":"parcel","shipment_uuid":null,"shipping_method":1602,"external_order_id":"","external_shipment_id":"","external_reference":null,"is_return":true,"note":null,"to_post_number":"","total_order_value":null,"total_order_value_currency":null,"colli_tracking_number":"","colli_uuid":"ac6bb5ec-c235-4d96-97da-8d5b32e9d641","collo_nr":0,"collo_count":1,"awb_tracking_number":null,"box_number":null,"length":null,"width":null,"height":null,"shipping_method_checkout_name":null,"carrier":{"code":"dhl"},"tracking_url":"https://andrea1.shipping-portal.com/tracking/?country=nl&tracking_number=jvgl06097547001969761800&postal_code=4814+dc"},{"id":182586236,"address":"Reduitlaan
            45","address_2":"","address_divided":{"street":"Reduitlaan","house_number":"45"},"city":"Breda","company_name":"Onestein
            BV","country":{"iso_2":"NL","iso_3":"NLD","name":"Netherlands"},"data":{},"date_created":"19-05-2022
            13:13:55","date_announced":"19-05-2022 13:13:56","date_updated":"19-05-2022
            14:32:27","email":"b.colpaert@onestein.nl","name":"Bastian
            Colpaert","postal_code":"4814
            DC","reference":"0","shipment":{"id":1602,"name":"DHLForYou Drop
            Off"},"status":{"id":1,"message":"Announced"},"to_service_point":null,"telephone":"+31886270400","tracking_number":"JVGL06097547000722819416","weight":"0.010","label":{"normal_printer":["https://panel.sendcloud.sc/api/v2/labels/normal_printer/182586236?start_from=0","https://panel.sendcloud.sc/api/v2/labels/normal_printer/182586236?start_from=1","https://panel.sendcloud.sc/api/v2/labels/normal_printer/182586236?start_from=2","https://panel.sendcloud.sc/api/v2/labels/normal_printer/182586236?start_from=3"],"label_printer":"https://panel.sendcloud.sc/api/v2/labels/label_printer/182586236"},"customs_declaration":{},"order_number":"S00225","insured_value":0,"total_insured_value":0,"to_state":null,"customs_invoice_nr":"","customs_shipment_type":2,"parcel_items":[{"description":"Whiteboard
            Pen","quantity":1,"weight":"0.010","value":"0.71","hs_code":"","origin_country":null,"product_id":"","properties":{},"sku":"CONS_0001","return_reason":null,"return_message":null}],"documents":[{"type":"label","size":"a6","link":"https://panel.sendcloud.sc/api/v2/parcels/182586236/documents/label"}],"type":"parcel","shipment_uuid":null,"shipping_method":1602,"external_order_id":"","external_shipment_id":"","external_reference":null,"is_return":true,"note":null,"to_post_number":"","total_order_value":null,"total_order_value_currency":null,"colli_tracking_number":"","colli_uuid":"abddd0d7-e822-489f-9d23-cbbcfe59fc2b","collo_nr":0,"collo_count":1,"awb_tracking_number":null,"box_number":null,"length":null,"width":null,"heig[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://panel.sendcloud.sc/api/v2/parcels?cursor=cD0xMjA0MTg1NjU%3D
    response:
      body:
        {
          string:
            '{"next":null,"previous":"https://panel.sendcloud.sc/api/v2/parcels?cursor=cj0xJnA9MTIwMzY1MDk0","parcels":[{"id":120365094,"address":"10
            Downingstreet","address_2":"","address_divided":{"street":"Downingstreet","house_number":"10"},"city":"London","company_name":"Warehouse
     [...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://panel.sendcloud.sc/api/v2/parcels/182588401/return_portal_url
    response:
      body:
        {
          string: '{"url":"https://andrea1.shipping-portal.com/rp/?postal_code=4814+DC&identifier=JVGL06097547001969761800"}',
        }
      headers:
        Allow: ["GET, HEAD, OPTIONS"]
        Content-Type: [application/json]
        X-SendCloud-Client-Latest-Version-Linux: [1.0.2]
        X-SendCloud-Client-Latest-Version-Windows: [1.0.4]
        X-SendCloud-Client-Latest-Version-macOS: [1.0.5]
      status: {code: 200, message: OK}
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://panel.sendcloud.sc/api/v2/parcels/116702079/return_portal_url
    response:
      body:
        {
          string: '{"url":"https://andrea1.shipping-portal.com/rp/?postal_code=4814+DC&identifier=JVGL0609754700208455"}',
        }
      headers:
        Allow: ["GET, HEAD, OPTIONS"]
        Content-Type: [application/json]
        X-SendCloud-Client-Latest-Version-Linux: [1.0.2]
        X-SendCloud-Client-Latest-Version-Windows: [1.0.4]
        X-SendCloud-Client-Latest-Version-macOS: [1.0.5]
      status: {code: 200, message: OK}
version: 1
