interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://panel.sendcloud.sc/api/v2/returns
    response:
      body:
        {
          string:
            '{"next":null,"previous":null,"returns":[{"id":1910013,"created_at":"2022-05-19T15:20:11.457479+02:00","reason":null,"outgoing_parcel":null,"incoming_parcel":182588401,"message":"","refund":null,"is_cancellable":false,"return_fee":0.0,"return_fee_currency":"EUR","label_cost":4.68,"label_currency":"EUR","items_cost":0.0,"delivered_at":null,"delivery_option":"drop_off_point","store_location":null,"payment_details":null,"incoming_parcel_data":{"tracking_url":"https://andrea1.shipping-portal.com/tracking/?country=nl&tracking_number=jvgl06097547001969761800&postal_code=4814+dc","tracking_number":"JVGL06097547001969761800","parcel_status":4879,"global_status_slug":"announced","brand_name":"Onestein","order_number":"","from_email":"pt@test.com","deleted":false,"collo_count":1,"from_country":"NL","from_name":"Test
            label
            1","shipping_method":1602,"extra_data":{"measured_weight":5,"has_tracking_page":true},"rules":[]},"incoming_parcel_status":{"id":1,"message":"Announced","global_status_slug":"announced"}},{"id":1909984,"created_at":"2022-05-19T15:13:55.658691+02:00","reason":null,"outgoing_parcel":null,"incoming_parcel":182586236,"message":"","refund":null,"is_cancellable":false,"return_fee":0.0,"return_fee_currency":"EUR","label_cost":4.68,"label_currency":"EUR","items_cost":0.71,"delivered_at":null,"delivery_option":"drop_off_point","store_location":null,"payment_details":null,"incoming_parcel_data":{"tracking_url":"https://andrea[...]
