interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://panel.sendcloud.sc/api/v2/shipping_methods/9?sender_address=all
    response:
      body: {string: "{\"shipping_method\":{\"id\":9,\"name\":\"DHLForYou\",\"carrier\"\
            :\"dhl\",\"min_weight\":\"0.001\",\"max_weight\":\"20.001\",\"service_point_input\"\
            :\"none\",\"price\":0,\"countries\":[{\"id\":1,\"name\":\"Belgium\",\"price\"\
            :7.0,\"iso_2\":\"BE\",\"iso_3\":\"BEL\",\"lead_time_hours\":24,\"from_id\"\
            :2,\"from_name\":\"Netherlands\",\"from_iso_2\":\"NL\",\"from_iso_3\":\"NLD\"\
            },{\"id\":2,\"name\":\"Netherlands\",\"price\":4.91,\"iso_2\":\"NL\",\"iso_3\"\
            :\"NLD\",\"lead_time_hours\":24,\"from_id\":2,\"from_name\":\"Netherlands\"\
            ,\"from_iso_2\":\"NL\",\"from_iso_3\":\"NLD\"}]}}"}
      headers:
        Allow: ["GET, HEAD, OPTIONS"]
        Content-Type: [application/json]
        X-SendCloud-Client-Latest-Version-Linux: [1.0.2]
        X-SendCloud-Client-Latest-Version-Windows: [1.0.4]
        X-SendCloud-Client-Latest-Version-macOS: [1.0.5]
      status: {code: 200, message: OK}
version: 1
