interactions:
  - request:
      body:
        '[{"external_order_id": "b8495277-9ca2-4fa0-adcb-40657ab25aad",
        "external_shipment_id": "bfdebf74-853d-4c32-9484-e0201426f888", "created_at":
        "2022-07-06T10:33:26.744813", "updated_at": "2022-07-06T10:33:26.744813",
        "name": "Deco Addict", "address": "Santa Barbara Rd", "house_number": "77",
        "city": "Pleasant Hill", "postal_code": "94523", "country": "US",
        "country_state": "CA", "customs_invoice_nr": "INV/2022/00005",
        "customs_shipment_type": 2, "to_state": "CA", "company_name": "Deco Addict",
        "address_2": "", "currency": "USD", "telephone": "(603)-996-3829", "email":
        "deco.addict82@example.com", "to_post_number": "", "to_service_point": null,
        "shipping_method_checkout_name": "", "order_status": null, "payment_status":
        null, "parcel_items": [{"description": "[FURN_6666] Acoustic Bloc Screens",
        "quantity": 3, "weight": 0.03, "value": 295.0, "hs_code": "123",
        "origin_country": "US", "sku": "FURN_6666", "product_id": "", "properties": {}},
        {"description": "[FURN_8888] Office Lamp", "quantity": 5, "weight": 0.05,
        "value": 145.0, "hs_code": "123", "origin_country": "US", "sku": "FURN_8888",
        "product_id": "", "properties": {}}, {"description": "[FURN_7777] Office Chair",
        "quantity": 2, "weight": 0.02, "value": 65.0, "hs_code": "123",
        "origin_country": "US", "sku": "FURN_7777", "product_id": "", "properties":
        {}}], "order_number": "S00060", "weight": 0.1, "is_return": false,
        "request_label": true, "shipment": {"id": 9}, "apply_shipping_rules": false,
        "external_reference": "WH/OUT/00038,0", "shipping_method": 9}]'
      headers:
        Content-Type: [application/json]
      method: POST
      uri: https://panel.sendcloud.sc/api/v2/integrations/241526/shipments
    response:
      body:
        {
          string: '[{"external_order_id":"b8495277-9ca2-4fa0-adcb-40657ab25aad","external_shipment_id":"bfdebf74-853d-4c32-9484-e0201426f888","shipment_uuid":"ac37f648-18af-4a37-92ee-0fce58998d2c","status":"created"}]',
        }
      headers:
        Content-Type: [application/json]
        allow: ["GET, POST, DELETE, HEAD, OPTIONS"]
      status: {code: 200, message: OK}
version: 1
