interactions:
  - request:
      body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soap:Envelope xmlns:soap=\"\
        http://schemas.xmlsoap.org/soap/envelope/\"> \n\t<soap:Header
        />\n\t<soap:Body>\n\
        \t\t<sls:generateLabel
        xmlns:sls=\"http://sls.ws.coliposte.fr\">\n  <generateLabelRequest>\n\
        \    <contractNumber>000000</contractNumber>\n    <password>password</password>\n\
        \    <outputFormat>\n      <x>0</x>\n      <y>0</y>\n      <outputPrintingType>ZPL_10x15_203dpi</outputPrintingType>\n\
        \    </outputFormat>\n    <letter>\n      <service>\n        <productCode>DOM</productCode>\n\
        \        <depositDate>2020-11-12</depositDate>\n        <returnTypeChoice>3</returnTypeChoice>\n\
        \      </service>\n      <parcel>\n        <insuranceValue>0</insuranceValue>\n\
        \        <weight>1.2</weight>\n        <nonMachinable>false</nonMachinable>\n\
        \        <COD>false</COD>\n        <CODAmount>0</CODAmount>\n        <returnReceipt>0</returnReceipt>\n\
        \        <ftd>false</ftd>\n      </parcel>\n      <customsDeclarations>\n  \
        \      <includeCustomsDeclarations>false</includeCustomsDeclarations>\n    \
        \  </customsDeclarations>\n      <sender>\n        <address>\n          <lastName>YourCompany</lastName>\n\
        \          <firstName>.</firstName>\n          <line2>1725 Slough
        Ave.</line2>\n\
        \          <countryCode>FR</countryCode>\n          <city>Scranton</city>\n\
        \          <zipCode>18540</zipCode>\n          <mobileNumber>+15551238069</mobileNumber>\n\
        \          <email>info@yourcompany.example.com</email>\n        </address>\n\
        \      </sender>\n      <addressee>\n        <codeBarForReference>false</codeBarForReference>\n\
        \        <serviceInfo>service info</serviceInfo>\n        <address>\n      \
        \    <lastName>Carrier label test
        customer</lastName>\n          <firstName>.</firstName>\n\
        \          <line2>27 Rue Henri
        Rolland</line2>\n          <countryCode>FR</countryCode>\n\
        \          <city>VILLEURBANNE</city>\n          <zipCode>69100</zipCode>\n \
        \       </address>\n      </addressee>\n    </letter>\n  </generateLabelRequest>\n\
        </sls:generateLabel>\n\n\t</soap:Body>\n</soap:Envelope>"
      headers:
        content-type: [text/xml;charset=UTF-8]
      method: POST
      uri: https://ws.colissimo.fr/sls-ws/SlsServiceWS
    response:
      body: {string: "--uuid:bc2e90b9-69fe-45f7-9979-d733bf787331\r\nContent-Type:
            application/xop+xml;\
            \ charset=UTF-8; type=\"text/xml\";\r\nContent-Transfer-Encoding: binary\r\
            \nContent-ID: <root.message@cxf.apache.org>\r\n\r\n<soap:Envelope
            xmlns:soap=\"\
            http://schemas.xmlsoap.org/soap/envelope/\"><soap:Body><ns2:generateLabelResponse\
            \
            xmlns:ns2=\"http://sls.ws.coliposte.fr\"><return><messages><id>0</id><messageContent>La\
            \ requ\xEAte a \xE9t\xE9 trait\xE9e avec
            succ\xE8s</messageContent><type>INFOS</type></messages><labelResponse><label><xop:Include\
            \ xmlns:xop=\"http://www.w3.org/2004/08/xop/include\"
            href=\"cid:33847ce2-b272-4cdf-9291-e7f39ebb723b-14553@cxf.apache.org\"\
            /></label><parcelNumber>6A19869826232</parcelNumber><parcelNumberPartner>0069100116A1986982623801250H</parcelNumberPartner></labelResponse></return></ns2:generateLabelResponse></soap:Body></soap:Envelope>\r\
            \n--uuid:bc2e90b9-69fe-45f7-9979-d733bf787331\r\nContent-Type:
            application/octet-stream\r\
            \nContent-Transfer-Encoding: binary\r\nContent-ID:
            <33847ce2-b272-4cdf-9291-e7f39ebb723b-14553@cxf.apache.org>\r\
            \n\r\n\x10CT~~CD,~CC^~CT~\r\n^XA\r\n^PW799\r\n^LS0000\r\n^LT0000\r\n^FO704,0^GFA,03456,03456,00012,:[...]
