interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\"> \n\t<soap:Header />\n\t<soap:Body>\n\
      \t\t<sls:generateLabel xmlns:sls=\"http://sls.ws.coliposte.fr\">\n  <generateLabelRequest>\n\
      \    <contractNumber>000000</contractNumber>\n    <password>password</password>\n\
      \    <outputFormat>\n      <x>0</x>\n      <y>0</y>\n      <outputPrintingType>ZPL_10x15_203dpi</outputPrintingType>\n\
      \    </outputFormat>\n    <letter>\n      <service>\n        <productCode>DOM</productCode>\n\
      \        <depositDate>2021-07-13</depositDate>\n        <totalAmount>100</totalAmount>\n\
      \        <returnTypeChoice>3</returnTypeChoice>\n      </service>\n      <parcel>\n\
      \        <insuranceValue>0</insuranceValue>\n        <weight>1.2</weight>\n\
      \        <nonMachinable>false</nonMachinable>\n        <COD>false</COD>\n  \
      \      <CODAmount>0</CODAmount>\n        <returnReceipt>0</returnReceipt>\n\
      \        <ftd>false</ftd>\n      </parcel>\n      <customsDeclarations>\n  \
      \      <includeCustomsDeclarations>false</includeCustomsDeclarations>\n    \
      \  </customsDeclarations>\n      <sender>\n        <address>\n          <lastName>My\
      \ Company (San Francisco)</lastName>\n          <firstName>.</firstName>\n \
      \         <line2>250 Executive Park Blvd, Suite 3400</line2>\n          <countryCode>FR</countryCode>\n\
      \          <city>San Francisco</city>\n          <zipCode>94134</zipCode>\n\
      \          <mobileNumber>+1(650)691-3277</mobileNumber>\n          <email>info@yourcompany.com</email>\n\
      \        </address>\n      </sender>\n      <addressee>\n        <codeBarForReference>false</codeBarForReference>\n\
      \        <serviceInfo>service info</serviceInfo>\n        <address>\n      \
      \    <lastName>Carrier label test customer</lastName>\n          <firstName>.</firstName>\n\
      \          <line2>27 Rue Henri Rolland</line2>\n          <countryCode>FR</countryCode>\n\
      \          <city>VILLEURBANNE</city>\n          <zipCode>69100</zipCode>\n \
      \       </address>\n      </addressee>\n    </letter>\n  </generateLabelRequest>\n\
      </sls:generateLabel>\n\n\t</soap:Body>\n</soap:Envelope>"
    headers:
      content-type:
      - text/xml;charset=UTF-8
    method: POST
    uri: https://ws.colissimo.fr/sls-ws/SlsServiceWS/2.0?wsdl
  response:
    body:
      string: "--uuid:3036c367-3711-4dfa-90d6-1d7709b30839\r\nContent-Type: application/xop+xml;\
        \ charset=UTF-8; type=\"text/xml\";\r\nContent-Transfer-Encoding: binary\r\
        \nContent-ID: <root.message@cxf.apache.org>\r\n\r\n<soap:Envelope xmlns:soap=\"\
        http://schemas.xmlsoap.org/soap/envelope/\"><soap:Body><ns2:generateLabelResponse\
        \ xmlns:ns2=\"http://sls.ws.coliposte.fr\"><return><messages><id>0</id><messageContent>La\
        \ requ\xEAte a \xE9t\xE9 trait\xE9e avec succ\xE8s</messageContent><type>INFOS</type></messages><labelV2Response><label><xop:Include\
        \ xmlns:xop=\"http://www.w3.org/2004/08/xop/include\" href=\"cid:1ad1c8a5-41d8-47b7-8901-756f4a712a6e-46217@cxf.apache.org\"\
        /></label><parcelNumber>6A21539158956</parcelNumber><parcelNumberPartner>0069100116A2153915895801250O</parcelNumberPartner><fields><field><key>NETWORK_NAME</key><value></value></field><field><key>PARTNER_NAME</key><value></value></field><field><key>PARTNER_CAB</key><value></value></field><field><key>CN23_THERMIQUE</key><value></value></field></fields></labelV2Response></return></ns2:generateLabelResponse></soap:Body></soap:Envelope>\r\
        \n--uuid:3036c367-3711-4dfa-90d6-1d7709b30839\r\nContent-Type: application/octet-stream\r\
        \nContent-Transfer-Encoding: binary\r\nContent-ID: <1ad1c8a5-41d8-47b7-8901-756f4a712a6e-46217@cxf.apache.org>\r\
       [...]
