interactions:
- request:
    body: scope=WEDEC_BARCODE_READ&grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://wedecint.post.ch/WEDECOAuth/token
  response:
    body:
      string: '{"access_token":"XXX","token_type":"Bearer","expires_in":60}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"customerSystem": null, "labelDefinition": {"imageFileType": "PDF", "printAddresses":
      "RECIPIENT_AND_CUSTOMER", "labelLayout": "A6", "imageResolution": "600", "printPreview":
      false}, "sendingID": null, "item": {"attributes": {"przl": ["PRI"], "weight":
      0.0}, "recipient": {"city": "Lausanne", "street": "EPFL Innovation Park, B\u00e2t
      A", "zip": "1015", "name1": "Camptocamp SA", "email": null}, "itemID": "WHOUT00042+WHOUT00042"},
      "customer": {"street": "Rue de Lausanne 1", "domicilePostOffice": false, "city":
      "Bussigny", "country": "CH", "zip": "1030", "name1": "YourCompany"}, "frankingLicense":
      "60013217", "ppFranking": false, "language": "EN"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://wedecint.post.ch/api/barcode/v1/generateAddressLabel
  response:
    body:
      string: "{\n  \"labelDefinition\" : {\n    \"labelLayout\" : \"A6\",\n    \"\
        printAddresses\" : \"RECIPIENT_AND_CUSTOMER\",\n    \"imageFileType\" : \"\
        pdf\",\n    \"imageResolution\" : 600,\n    \"printPreview\" : false,\n  \
        \  \"colorPrintRequired\" : true\n  },\n  \"item\" : {\n    \"itemID\" : \"\
        WHOUT00042+WHOUT00042\",\n    \"identCode\" : \"996001321700005958\",\n  \
        \  \"label\" : [ \"JVBERi0xLjQKJeLjz9MKMiAwIG9iago8PC9Db2xvclNwY...\"\
        \ ]\n  }\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      isiwebauthstate:
      - valid
    status:
      code: 200
      message: OK
version: 1
