interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:imp=\"http://impression.service.web.etiquette.geodis.com\"\
      >\n\t<soap:Header>\n\t\t<imp:authenticationInfo xmlns:imp=\"http://impression.service.web.etiquette.geodis.com\"\
      >\n\t<imp:userName>000000</imp:userName>\n\t<imp:password>password</imp:password>\
      \ \n</imp:authenticationInfo>\n\t</soap:Header>\n\t<soap:Body>\n\t\t<imp:demandeImpressionEtiquette\
      \ xmlns:imp=\"http://impression.service.web.etiquette.geodis.com\">\n  <imp:csadep>459059</imp:csadep>\n\
      \  <imp:csadepteos>159</imp:csadepteos>\n  <imp:codclidep>000000</imp:codclidep>\n\
      \  <imp:format>Z</imp:format>\n  <imp:posFirstEtiqu>1</imp:posFirstEtiqu>\n\
      \  <imp:codpro>MES</imp:codpro>\n  <imp:nrecep>00000001</imp:nrecep>\n  <imp:datdep>20210609</imp:datdep>\n\
      \  <imp:nomexp>My Company (San Francisco)</imp:nomexp>\n  <imp:payexp>FR</imp:payexp>\n\
      \  <imp:dptexp>69</imp:dptexp>\n  <imp:cpoexp>69100</imp:cpoexp>\n  <imp:locexp>VILLEURBANNE</imp:locexp>\n\
      \  <imp:telexp>+1(650)691-3277</imp:telexp>\n  <imp:nomdst>Carrier label test\
      \ customer</imp:nomdst>\n  <imp:ad1dst>27 Rue Henri Rolland</imp:ad1dst>\n \
      \ <imp:paydst>FR</imp:paydst>\n  <imp:cpodst>69100</imp:cpodst>\n  <imp:locdst>VILLEURBANNE</imp:locdst>\n\
      \  <imp:nomcta>Carrier label test customer</imp:nomcta>\n  <imp:nbtumg>1</imp:nbtumg>\n\
      \  <imp:poids>1.2</imp:poids>\n  <imp:detailUmg>\n    <imp:codumg>PC</imp:codumg>\n\
      \    <imp:poiumg>1.2</imp:poiumg>\n    <imp:volumg>0</imp:volumg>\n    <imp:numcol>1</imp:numcol>\n\
      \    <imp:refclicol>PACK0000003</imp:refclicol>\n  </imp:detailUmg>\n</imp:demandeImpressionEtiquette>\n\
      \n\t</soap:Body>\n</soap:Envelope>"
    headers:
      SOAPAction:
      - <SOAP Action>
      content-type:
      - text/xml
    method: POST
    uri: https://espace-rct.geodis.com/geolabel/services/ImpressionEtiquette
  response:
    body:
      string: "--MIMEBoundary_027599f2fbb7c3a44f903eca180b26ff924943f006c90664\r\n\
        Content-Type: text/xml; charset=UTF-8\r\nContent-Transfer-Encoding: binary\r\
        \nContent-ID: <0.327599f2fbb7c3a44f903eca180b26ff924943f006c90664@apache.org>\r\
        \n\r\n<?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv=\"\
        http://schemas.xmlsoap.org/soap/envelope/\"><soapenv:Header/><soapenv:Body><ns1:reponseImpressionEtiquette\
        \ xmlns:ns1=\"http://impression.service.web.etiquette.geodis.com\"><ns1:codeAttachement>cid:127599f2fbb7c3a44f903eca180b26ff924943f006c90664@apache.org</ns1:codeAttachement><ns1:ucar\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:nil=\"1\"/><ns1:paydst>FR</ns1:paydst><ns1:cpodst>69100</ns1:cpodst><ns1:locdst>VILLEURBANNE</ns1:locdst><ns1:reseau>M</ns1:reseau><ns1:priorite>2</ns1:priorite><ns1:codire>069</ns1:codire><ns1:cabRouting>2LM2069</ns1:cabRouting><ns1:infoColis><ns1:codumg>PC</ns1:codumg><ns1:numero>1</ns1:numero><ns1:cab>JVGTC1597870000000130</ns1:cab><ns1:cabclt>PACK0000003</ns1:cabclt></ns1:infoColis></ns1:reponseImpressionEtiquette></soapenv:Body></soapenv:Envelope>\r\
        \n--MIMEBoundary_027599f2fbb7c3a44f903eca180b26ff924943f006c90664\r\nContent-Type:\
        \ application/octet-stream\r\nContent-Transfer-Encoding: binary\r\nContent-ID:\
        \ <127599f2fbb7c3a44f903eca180b26ff924943f006c90664@apache.org>\r\n\r\n^XA\r\
        \n^PR7,7,8^MCY^LRN^FWN^CFD,24^LH10,15^CI0^MNY^MTD^MD0^PON^PMN\r\n^LL1080\r\
        \n^FO0,0^GB830,0,3,B,0^FS\r\n^F[...]
