interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:imp=\"http://localite.service.web.etiquette.geodis.com\"\
      >\n\t<soap:Header>\n\t\t<imp:authenticationInfo xmlns:imp=\"http://localite.service.web.etiquette.geodis.com\"\
      >\n\t<imp:userName>000000</imp:userName>\n\t<imp:password>password</imp:password>\
      \ \n</imp:authenticationInfo>\n\t</soap:Header>\n\t<soap:Body>\n\t\t<imp:findLocalite\
      \ xmlns:imp=\"http://localite.service.web.etiquette.geodis.com\">\n  <imp:codePays>FR</imp:codePays>\n\
      \  <imp:codePostal>69100</imp:codePostal>\n  <imp:libelle>VILLEURBANNE</imp:libelle>\n\
      </imp:findLocalite>\n\n\t</soap:Body>\n</soap:Envelope>"
    headers:
      SOAPAction:
      - <SOAP Action>
      content-type:
      - text/xml
    method: POST
    uri: https://espace-rct.geodis.com/geolabel/services/RechercherLocalite
  response:
    body:
      string: "--MIMEBoundary_a17599f2fbb7c3a49741ffca180b26ffa04943f006c90664\r\n\
        Content-Type: text/xml; charset=UTF-8\r\nContent-Transfer-Encoding: binary\r\
        \nContent-ID: <0.517599f2fbb7c3a49741ffca180b26ffa04943f006c90664@apache.org>\r\
        \n\r\n<?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv=\"\
        http://schemas.xmlsoap.org/soap/envelope/\"><soapenv:Header/><soapenv:Body><ns1:findLocaliteResponse\
        \ xmlns:ns1=\"http://localite.service.web.etiquette.geodis.com\"><ns1:infoLocalite><ns1:numOrdre>30350</ns1:numOrdre><ns1:codeRegion>69</ns1:codeRegion><ns1:codePostal>69100</ns1:codePostal><ns1:libelle>VILLEURBANNE</ns1:libelle></ns1:infoLocalite></ns1:findLocaliteResponse></soapenv:Body></soapenv:Envelope>\r\
        \n--MIMEBoundary_a17599f2fbb7c3a49741ffca180b26ffa04943f006c90664--\r\n"
    headers:
      Content-Type:
      - multipart/related; boundary="MIMEBoundary_a17599f2fbb7c3a49741ffca180b26ffa04943f006c90664";
        type="text/xml"; start="<0.517599f2fbb7c3a49741ffca180b26ffa04943f006c90664@apache.org>"
    status:
      code: 200
      message: OK
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soap:Envelope xmlns:soap=\"\
      http://schemas.xmlsoap.org/soap/envelope/\" xmlns:imp=\"http://localite.service.web.etiquette.geodis.com\"\
      >\n\t<soap:Header>\n\t\t<imp:authenticationInfo xmlns:imp=\"http://localite.service.web.etiquette.geodis.com\"\
      >\n\t<imp:userName>000000</imp:userName>\n\t<imp:password>password</imp:password>\
      \ \n</imp:authenticationInfo>\n\t</soap:Header>\n\t<soap:Body>\n\t\t<imp:findLocalite\
      \ xmlns:imp=\"http://localite.service.web.etiquette.geodis.com\">\n  <imp:codePays>FR</imp:codePays>\n\
      \  <imp:codePostal>69155</imp:codePostal>\n  <imp:libelle>VILLURB</imp:libelle>\n\
      </imp:findLocalite>\n\n\t</soap:Body>\n</soap:Envelope>"
    headers:
      SOAPAction:
      - <SOAP Action>
      content-type:
      - text/xml
    method: POST
    uri: https://espace-rct.geodis.com/geolabel/services/RechercherLocalite
  response:
    body:
      string: "--MIMEBoundary_747599f2fbb7c3a445eb2cca180b26ffc04943f006c90664\r\n\
        Content-Type: text/xml; charset=UTF-8\r\nContent-Transfer-Encoding: binary\r\
        \nContent-ID: <0.647599f2fbb7c3a445eb2cca180b26ffc04943f006c90664@apache.org>\r\
        \n\r\n<?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv=\"\
        http://schemas.xmlsoap.org/soap/envelope/\"><soapenv:Header/><soapenv:Body><soapenv:Fault><faultcode>soapenv:Server</faultcode><faultstring>ExceptionGeoLabelMessage</faultstring><detail><ns1:ExceptionGeoLabel\
        \ xmlns:ns1=\"http://localite.service.web.etiquette.geodis.com\"><ns1:Exception><ns1:code>T0023</ns1:code><ns1:message>Localit\xE9\
        \ inexistante</ns1:message></ns1:Exception></ns1:ExceptionGeoLabel></detail></soapenv:Fault></soapenv:Body></soapenv:Envelope>\r\
        \n--MIMEBoundary_747599f2fbb7c3a445eb2cca180b26ffc04943f006c90664--\r\n"
    headers:
      Content-Type:
      - multipart/related; boundary="MIMEBoundary_747599f2fbb7c3a445eb2cca180b26ffc04943f006c90664";
        type="text/xml"; start="<0.647599f2fbb7c3a445eb2cca180b26ffc04943f006c90664@apache.org>"
    status:
      code: 500
      message: Internal Server Error
version: 1
